body{
    margin: 0;
    color: white;
    background-image: url(https://img.freepik.com/free-vector/blue-polygon-dark-background-social-template_53876-116080.jpg?ga=GA1.1.249885969.1747556790&semt=ais_hybrid&w=740);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.logo {
 padding: 1em;}
.nav-right{
    display: flex;
    flex-direction: row;
}
.a-ele{
    padding: 25px;
    color: white;
}
.nav-middle{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.sear-ele{
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 36px;
    border: 2px solid white;
    background-color: black;
}
.nav-tit{
    border-top-left-radius: 2px;
    display: flex;
    height:16px;
    width: 800px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    border: 3px solid white;
    margin: 10px;
}
.h-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-right: 40vw;
    padding-bottom: 50px;
    text-decoration:underline 2px red;

}
.h-info{

    width: 35vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;
    font-style: italic;
    letter-spacing: 1px;
    padding-bottom: 60px;
}
.regi{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 180px;
    background-color: aqua;
    border-radius: 20px;
    justify-content: center;
    margin-left: 150px;
}
.button{
    background-color: aqua;
    border: none;
}
.regi-b{
    margin-left: 160px;
}